<h1>
    <span class="far fa-list-alt"></span> Just To-do It
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Done</th>
            <th>Description</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>
        {{#if locals.toDoItems.length }}
        {{#each locals.toDoItems}}
        <tr>
            <td class="text-center text-primary"><span class="far fa-{{#if this.done }}check-square{{else}}square{{/if}}"></span></td>
            <td class="w-100 {{#if this.done }} text-muted {{/if}}">{{this.description}}</td>
            <td>
                <a href="/todo/edit/{{this.id}}"><span class="far fa-edit"></span></a>
                <a href="/todo/delete/{{this.id}}"><span class="far fa-trash-alt"></span></a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No to-do items to display.
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>
